@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Miniver&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --miniver: "Miniver", cursive;

}
::-webkit-scrollbar {
  display: none;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  overflow-x: hidden;
}
.balance {
  text-wrap: balance;
}

.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 10px;
}

.div1 {
  grid-area: 1 / 1 / 6 / 2;
}
.div2 {
  grid-area: 2 / 2 / 4 / 3;
}
.div3 {
  grid-area: 4 / 2 / 7 / 3;
}
img {
  pointer-events: none;
  user-select: none;
}
.heading::after {
  width: 10px;
  height: 10px;
  content: "";
  background-color: black;
}
.imagecontainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.choose1 {
  grid-area: 1 / 1 / 3 / 3;
}
.choose2 {
  grid-area: 2 / 2 / 4 / 4;
}

.cards {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
  border-radius: 5px;
  width: 200px;
  height: 60px;
  font-size: 16px;
}
/* .choose-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  width: 100%;
}

.card-1 {
  grid-area: 1 / 1 / 2 / 2;
}
.card-2 {
  grid-area: 1 / 2 / 2 / 3;
}
.card-3 {
  grid-area: 2 / 1 / 3 / 2;
}
.card-4 {
  grid-area: 2 / 2 / 3 / 3;
} */

.team-section {
  background-image: linear-gradient(45deg, #1a5a00d3, #1a5a00d3),
    url("../../public/images/team.png");
  background-repeat: no-repeat;

  background-position: center;
  background-size: contain;
}
/* Add this to your global CSS or a separate CSS file */
.no-padding {
  padding: 0;
  margin: 0;
}

